DATABASE_URL="file:./dev.db"
NODE_ENV="development"
PORT=4000
FRONTEND_ORIGIN="http://localhost:3000"

JWT_ACCESS_SECRET="troque-por-segredo-longo-e-aleatorio-min-32-chars"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_DAYS=7
REFRESH_COOKIE_NAME="refresh_token"
